@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#cover {
  min-height: 100%;
  width: 100%;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 100%;
  transition: opacity 500ms;
  z-index: 2;
}

html {
  background-color: black;
}

body {
  color: white;
  text-align: center;
}

h1 {
  font-family: Outfit;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projectbutton {
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue";
  outline-color: white;
  outline-style: solid;
  text-shadow: 3px 3px black;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.projectbutton:hover {
  cursor: pointer;
}